<%include ./partials/header%>
<div>
    <h1 class="text-center">Logout successful</h1>
    <hr>
    <div >
      <a href="/lab/login" class="btn btn-primary btn-lg btn-block"> Login <i class="fas fa-chalkboard-teacher"></i></a>
    </div>
</div>
<%include ./partials/footer%>
