<!DOCTYPE html>
<html>
    <head>
        <title>EHR System</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <style type="text/css" >
        body {
          background-color: #000;
        }

        hr{
          width: 50%;
        }

        #landing-header {
          z-index: 1;
          position: relative;
          text-align: center;
          padding-top: 40vh;
        }

        #landing-header h1 {
          color: #fff;
        }

        .slideshow {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 0;
          list-style: none;
          margin: 0;
          padding: 0;
        }

        .slideshow li {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-size: cover;
          background-position: 50% 50%;
          background-repeat: no-repeat;
          opacity: 0;
          z-index: 0;
          animation: imageAnimation 50s linear infinite;
        }

        .slideshow li:nth-child(1) {
          background-image: url(https://i.imgur.com/Q8ZJBM6.jpg);

        }

        @keyframes imageAnimation {
          0% {
            opacity: 0;
            animation-timing-function: ease-in;
          }
          10% {
            opacity: 1;
            animation-timing-function: ease-out;
          }


        /* Older browser support - .no-cssanimations class added by modernizr */
        .no-cssanimations .slideshow li {
          opacity: 1;
        }

        </style>
    </head>
    <body>



    <div id="landing-header">
 		<h1>Welcome to Team Random EHR System! <i class="fas fa-heartbeat"></i></h1>
    <hr>
		<a href="/patient/login" class="btn btn-lg btn-warning"> Enter the EHR System <i class="fas fa-chalkboard-teacher"></i></a>
    </div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</body>
</html>
